body 
{
  font-family: Arial, Helvetica, sans-serif;
}

#pagenavlayout 
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border: groove;
  border-color: black;
}

.logo 
{
  height: 50px;
}

nav 
{
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav 
{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  color: #000000;
  border: groove;    
  border-color: #000000;
  background-color: #FFA500;
  position: relative;
}

.droplink
{
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
}

.dropdown 
{
    display: none;
    position: absolute;
    top: 0%;
    left: 100%;
    background-color: #FFD580;
    min-width: 180px;
    border: 1px solid #000;
    z-index: 10;
    flex-direction: column;
}

.nav li a 
{
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
}

.nav li .dropdown 
{
    display: none;
    position: absolute;
    background-color: #FFD580;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    min-width: 180px;
    border: 1px solid #000;
    z-index: 1000;
}

.nav li:hover > .dropdown 
{
    display: block;
}

.nav li a:hover 
{
  color: #84E4F7;
}

.nav li a:active 
{
  color: lightpink;
}

#pagebody
{
  border: groove;
  border-color: black;
  background-color: antiquewhite;
  text-align: center;
  padding: 1rem;
}

#pagebodylayout 
{
  background-color: whitesmoke;
  border: groove;
  border-color: black;
  margin: 2rem auto;
  width: 74%;
  padding: 1rem;
}

.hamburger 
{
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #000000;
}

@media screen and (max-width: 768px) 
{

  .nav 
  {
    display: none;
  }

  .hamburger 
  {
    display: block;
  }

  .nav .dropdown 
  {
    display: none !important;
  }

  #pagenavlayout 
  {
    flex-direction: row;
    justify-content: space-between;
  }
}
