#pagebody
{
    border: groove;
    text-align: center;
    border-color: black;
    background-color: antiquewhite;
}
#pagebodylayout
{
    background-color: whitesmoke;
    background-size: 74%;
    border: groove;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#pagenavlayout
{
    background-position: center;
    text-align: center;
    border: groove;
    border-color: black;

a.nav:link
{
    color: skyblue;
    color: deepskyblue;
    text-align: center;
}
a.nav:hover
{
    color: orange;
}
a.nav:active
{
    color: lightpink;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

