
#page {
  display: grid;
  grid-template-rows: auto auto auto 1fr auto; 
  gap: 1rem;
  background-color: #808080;
  padding: 1rem;
  margin: 0;
}

#pagenavlayout {
  background-color: #808080;
  border: groove;
  border-color: black;
  padding: 1rem;
  text-align: center;
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  color: #FFA500;
}

.heading {
  color: #000000;
  font-size: 50px;
  text-align: center;
  font-family: Impact;
  margin: 0.5rem;
}

#pagenavlayout + div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #808080;
  border: groove;
  border-color: black;
}

#image {
  width: 200px;
  height: auto;
  border: groove;
  border-color: #000000;
  background-color: #84E4F7;
}

#showvideo {
  width: 300px;
  height: auto;
  border: groove;
  border-color: #000000;
  background-color: #84E4F7;
}

#pagebodylayout {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 1rem;
  background-color: whitesmoke;
  border: groove;
  border-color: black;
  padding: 1rem;
}

.about-text {
  background-color: antiquewhite;
  padding: 1rem;
  border: groove;
  border-color: black;
}

.education {
  background-color: #fff;
  padding: 1rem;
  border: groove;
  border-color: black;
}

.paragraph {
  color: #000000;
  font-size: 20px;
  text-align: justify;
  text-indent: 2em;
  font-family: "Times New Roman", serif;
}

.paragraph:first-letter {
  font-size: 200%;
  color: #FFA500;
}

.bulletpoints {
  color: #FFA500;
  font-size: 18px;
  list-style-type: square;
  font-family: "Times New Roman", serif;
  padding-left: 1.2rem;
}

.pointdivision {
  padding-left: 10px;
}

/* === Footer === */
footer {
  text-align: center;
  background-color: #808080;
  color: black;
  padding: 1rem;
  border: groove;
  border-color: black;
}


@media (max-width: 768px) {
  #pagebodylayout {
    grid-template-columns: 1fr; 
  }

  #pagenavlayout + div {
    flex-direction: column;
  }

  .heading {
    font-size: 36px;
  }
}
