#page
{
    background-color: #808080;
}

#pagebody
{
    border: groove;
    text-align: center;
    border-color: black;
    background-color: antiquewhite;
}

#pagebodylayout
{
    background-color: whitesmoke;
    background-size: 74%;
    border: groove;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#pagenavlayout
{
  display: flex;
  background-color: #808080;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border: groove;
  border-color: black;
}

#image
{
    width: 10%;
    height: 10%;
    margin-left: auto;
    margin-right:auto;
    display: block;
}

.heading
{
    color: #000000;
    font-size: 50px;
    text-align: center; 
    font-family:Impact;
}

.paragraph
{
    color: #000000;
    font-size: 20px;
    text-align: center;
    font-family: Times New Roman;
    text-indent: 2em;
}

.paragraph:first-letter 
{
  font-size: 200%;
  color: #FFA500;
}

.reflectionp
{
    color: #000000;
    font-size: 20px;
    text-align: center;
    font-family: Times New Roman;
    text-indent: 2em;
}

.bulletpoints
{
    color: #FFA500;
    font-size: 20px;
    list-style-type: square;
    text-algin: center;
    font-family: Times New Roman;
}

.pointdivision
{
     padding-left: 10px;
}

