#page
{
    background-color: #808080;
}
#pagebody
{
    border: groove;
    text-align: center;
    border-color: black;
    background-color: antiquewhite;
}
#pagebodylayout
{
    background-color: whitesmoke;
    background-size: 74%;
    border: groove;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#pagenavlayout
{
    background-position: center;
    text-align: center;
    border: groove;
    border-color: black;
}
.heading
{
    color: #000000;
    font-size: 50px;
    text-align: center; 
    font-family:Impact;
}
.paragraph
{
    color: #000000;
    font-size: 20px;
    text-align: center;
    font-family: Times New Roman;
}

a.nav:link
{
    color: #000000;
    text-align: center;
    border: groove;
    border-color: #000000;
    background-color: #FFA500;
}
a.nav:hover
{
    color: #84E4F7;
}
a.nav:active
{
    color: lightpink;
}

.bulletpoints
{
    color: #84E4F7;
    font-size: 20px;
    list-style-type: square;
    text-algin: center;
    font-family: Times New Roman;
}


